/* General */
 
.btn{
  background-color: #3bd494ad;
}
 /*Sign up and Login Page Start*/

 form{
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 10px 10px;
}

.form-container{
  width: 90%;
  text-align: center;
}
.container{
  padding-left: 0px;
  padding-right: 0;
}

.log-h2{
  text-align: center;
  color:#48535f;
  font-weight:400;
  margin-bottom:25px;
}

label{
  display: block;
  text-align: left;
}

input{
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

.log-button{
  background-color: #47525e;
  text-align:center;
  color: #ffffff;
  font-size: 18px;
}

a{
  color: #8190a5;
}

a:hover{
  color:#48535f;
}
/* Sign up and Login Page End*/

/* Home start */
.dashbody{
  margin: 18px 0 0 18px;
  overflow-y: scroll;
}

.artlist{
  display: flex;
}

.artimage{
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.dimage{
  margin: 10px;
  margin-left: 0px;
}

.dcarcontent{
  width: 100%;
}

.vtitle{
  font-size:1.2rem;
  margin-bottom: .6rem;
}

.vbody{
  font-size: .8rem;
  margin-bottom: .2rem;
}

/* Home End*/

/* Side navigation Start - Code modifed from original (https://www.w3schools.com/howto/howto_js_sidenav.asp)*/
.navbar{
  background-color: #858d96;
  background-color: #2b2b2b;
  padding-bottom: 12px;
}

.menu{
  font-size: 26px;
  color: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  padding-top: 0;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navforms{
  margin: 15px 0px 10px 15px;
}

.forms{
  margin: 0px 0px 10px 0px;
  padding-left:5px;
  background-color: #f9fafc;
}

.navforms a{
  font-size: 1.3rem;
  padding-left: 0px;
}


.form-h2{
  color:#48535f;
  font-weight:400;
  font-size: 1.4rem;
}

.main-h2{
  margin: auto;
  margin-left: 25px;
  color: white;
  font-size:1.2rem;
}

@media only screen and (max-width: 360px) {
  .main-h2 {font-size: 1.3rem;}
}

.usericon{
  font-size: 2rem;
  padding: 7px 8px 0 5px;
  right: 0;
}


/* Side navigation End */

/* Bottom Nav Start */
.bottom-nav{
  border-top: solid lightgrey 1px;
  background-color: white;
  background-color: #2b2b2b;
  bottom: 0;
  width: 100%;
  margin: auto;
  display: flex;
  position: fixed;
  text-align: center;
  color: black;
}

.icons{
  font-size: 1.8rem;
  padding: 8px 0 8px 0;
  color: #f5f5f5;
}

/* Bottom Nav End */

/* Add-new button Start */
.add-new-button {
  position: fixed;
  padding-top: 0;
  bottom: 50px;
  right: 50px;
  font-size: 52px;
  margin-left: 50px;
}
/* Add-new button End */


/* New-vehicle Form Start */

.allentryforms{
  width: 70%;
  border-width: 0 0 2px 0;
}

.allentryforms input{
  border-width: 0 0 2px 0;
  padding: 4px;
}

#statusdrop, #driverdrop, #vleasestart, #vleaseend, #cardrop{
  width: 100%;
}

.allentryforms p{
  margin-bottom: 0px;
  margin-top: 10px;
}

.done-button {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  color: white;
  background: none;
  border: none;
  margin: auto;
  width: 50px;
}

form select{
  max-width: -webkit-fill-available;
}
/* New-vehicle Form End */

/* Other form styles start */
input[type="date"]{
  background-color: #f5f5f5;
}

input[type="number"]{
  text-align: right;
}

#smalltext{
  font-size: .8rem;
}

textarea{
  width: 100%;
}

/* Other form styles End */

/* Products flex container start */


.productcontainer
{
  margin :0 auto;
  display:inline-block;
  padding: 20px 40px 40px;
  max-width: 640px;
}

.product-card {
  flex: 1 16%;
}

.productimage{
  width: 50%;
}

.price
{
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
}

.productinput
{
  border: 1px solid #ccc;
  font-weight: bold;
  height: 30px;
  text-align: center;
  width: 30px;
}

.product-info {
  margin-top: auto;
}


.productlabel {
  width: 75px;
  float:left;
}

/* Products flex container end */

/* My Account styles start */

.accountBody
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #ffffff;
}

.userBox
{
  top: 50%;
  left: 50%;
  background: #2B2B2B;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
}

.userPic
{
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  background-image: url(https://i.imgur.com/thCKquB.png);
  background-repeat: no-repeat;
  background-position: center;
}

.userPic > img {
  vertical-align: top;
}

.userPic > img:hover {
  opacity: 0;
}

.accounth3
{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
}

.userBox input
{
  width: 100;
  margin-bottom: 20px;
  color: #ffffff;
}

.userBox input[type="text"],
.userBox input[type="password"]
{
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 40px;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}

.userBox input[type="text"]:focus,
.userBox input[type="password"]:focus
{
  border-bottom: 2px solid #FE980F;
}

.inputBox
{
  position: relative;
  display:inline-block;
}

.inputBox span
{
  position: absolute;
  top: 10px;
}

.userBox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  background: #FE980F;
  color: #2B2B2B;
  border-radius: 20px;
  cursor: pointer;
}

.userBox input[type="submit"]:hover
{
  color: #ffffff;
}

.userBox a
{
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block;
}

/* My Account styles end */